
#squaresContainer *{
	padding:0px;
	margin:0px;
}

.fullscreenNav{
	max-height:100vh;
	min-height:100vh;
	min-width:100vw;
	position:fixed;
	display:flex;
	flex-wrap:wrap;
	box-sizing:border-box;
	z-index:100;
	top:0;
}
.fullscreenNav .category{	
	border:1px solid #242324;
	height:50vh;
	width:50vw;
	box-sizing:border-box;
	position:relative;	
}

.fullscreenNav .category h1 {
	margin: 0;
    position: absolute;
	text-align:center;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	color:white;
	transition: all .2s ease-in-out;
	text-shadow:2px 2px black;
}
.fullscreenNav .category:hover h1{
	font-size:300%;
	letter-spacing:4px;
	opacity:.8;
}
.miniNav{
   	position: fixed;
	top:20%;
	left:2%;
	z-index:200;
	display:flex;
	webkit-flex-direction: column;
	flex-direction:column;
	justify-content:space-between;
}
.miniNav .category{
	height:100px;
	width:100px;
	padding:15% !important;
	position:relative;
}
.miniNav .category h1 {
	margin: 0;
    position: absolute;
    top: 80%;
    left:10%
    margin-right: -50%;
    transform: translate(0, -50%);
	font-size:125%;
	white-space:nowrap;
	letter-spacing:4px;
	color:white;
	transition: all .2s ease-in-out;
	text-shadow:2px 2px black;

}
.miniNav .category:hover h1{
	font-size:300%;
	letter-spacing:4px;
	opacity:.8;
}

.categoryMini img{
	border:2px dotted #868275;
}
.squareImg{
	width:100%;
	overflow:hidden;
}
@media only screen and (max-width: 767px){

.fullscreenNav{
    margin-top:64px;
	min-height:calc(100vh - 64px);
	max-height:calc(100vh - 64px);
	flex-direction:column;
}		
.fullscreenNav .category{
	height:calc(25vh - 16px);
	background-color:#5A843B;
}

.fullscreenNav a .image1 {
	order:1;
	-webkit-order: 1;
}
.fullscreenNav a .image2 {
	order:6;
	-webkit-order: 6;
}
.fullscreenNav a .image3 {
	order:3;
	-webkit-order: 3;
}
.fullscreenNav a .image4 {
	order:8;
	-webkit-order: 8;
}
.fullscreenNav a .level1 {
	order:5;
	-webkit-order: 5;
}
.fullscreenNav a .level2 {
	order:2;
	-webkit-order: 2;
}.fullscreenNav a .level3 {
	order:7;
	-webkit-order: 7;
}.fullscreenNav a .level4 {
	order:4;
	-webkit-order: 4;
}
	
.fullscreenNav .category h1 {
	margin: 0;
    position: absolute;
    top: 50%;
    right: -150%;
    margin-right: -50%;
    transform: translate(0, -50%);
	color:white;
	transition: all .2s ease-in-out;
	text-shadow:2px 2px black;
		font-size:100%;
}
